Source: ttcopy
Version: 2.2.0
Section: utils
Priority: optional
Maintainer: Yamada, Yasuhiro <greengregson@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/greymd/ttcopy
Vcs-Git: https://github.com/greymd/ttcopy.git
Vcs-Browser: https://github.com/greymd/ttcopy

Package: ttcopy
Version: 2.2.0
Section: contrib/utils
Architecture: all
Maintainer: Yamada, Yasuhiro <greengregson@gmail.com>
Description: <Provide copying and pasting within multiple hosts through the Web.>
